{% extends 'accounts/main.html' %}

{% block content %}


<br/>


 <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
					{% for group in request.user.groups.all %}
					  {% if group.name == 'teacher' %}
						  <img class="img-account-profile rounded-circle mb-2" src="{{request.user.teacher.profile_pic.url}}" style="height: 300px; border-radius: 50px; border: 1px solid #c1c1c1">
					  {% elif group.name == 'student' %}
						  <img class="img-account-profile rounded-circle mb-2" src="{{request.user.student.profile_pic.url}}" style="height: 300px; border-radius: 50px; border: 1px solid #c1c1c1">
					  {% endif %}
				  {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body col-md-6">
                   <form method="POST" action="" enctype="multipart/form-data">
				        {% csrf_token %}
                        <p>
                            <label for="id_firstname">Name:</label>
                            <input type="text" name="firstname" value="student A" class="form-control" required="" id="id_firstname">
                        </p>
                        <p>
                            <label for="id_lastname">Lastname:</label>
                            <input type="text" name="lastname" value="lastname" class="form-control" required="" id="id_lastname">
                        </p>
                        <p>
                            <label for="fileInput">User email:</label>
                            <input type="email" name="user_email" value="ajerry24141@gmail.com" class="form-control" maxlength="320">
                        </p>
                        <p>
                            <label for="id_phone">Phone:</label>
                            <input type="text" name="phone" value="123132" class="form-control" required="" id="id_phone">
                        </p>
                        <p>
                            <label for="fileInput">Current profile picture:</label><span class="text-warning fw-medium" style="font-size:12px;"> {{ form.profile_pic.value }}</span>
                            <input type="file" name="profile_pic" id="fileInput" class="form-control mb-0" accept="image/*">

                        </p>
            			<input class="btn btn-primary" type="submit" name="Update Information">
				    </form>

                    <div id="profile-pic-preview"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
