{% extends 'accounts/main.html' %}

{% block content %}


<br/>


 <div class="row">
        <div class="col-xl-4">
            <!-- Profile picture card-->
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">Profile Picture</div>
                <div class="card-body text-center">
					{% for group in request.user.groups.all %}
					  {% if group.name == 'teacher' %}
						  <img class="img-account-profile rounded-circle mb-2" src="{{request.user.teacher.profile_pic.url}}" style="height: 300px; border-radius: 50px; border: 1px solid #c1c1c1">
					  {% elif group.name == 'student' %}
						  <img class="img-account-profile rounded-circle mb-2" src="{{request.user.student.profile_pic.url}}" style="height: 300px; border-radius: 50px; border: 1px solid #c1c1c1">
					  {% endif %}
				  {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <!-- Account details card-->
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body col-md-6">
                   <form method="POST" action="" enctype="multipart/form-data">
				        {% csrf_token %}
                        <p>
                            <label for="id_firstname">Name:</label>
                            {% for group in request.user.groups.all %}
                              {% if group.name == 'teacher' %}
                                  <input type="text" name="firstname" value="{{request.user.teacher.firstname}}" class="form-control" required="" id="id_firstname">
                              {% elif group.name == 'student' %}
                                  <input type="text" name="firstname" value="{{request.user.student.firstname}}" class="form-control" required="" id="id_firstname">
                              {% endif %}
                            {% endfor %}
                        </p>
                        <p>
                            <label for="id_lastname">Lastname:</label>
                             {% for group in request.user.groups.all %}
                              {% if group.name == 'teacher' %}
                                 <input type="text" name="lastname" value="{{request.user.teacher.lastname}}" class="form-control" required="" id="id_lastname">
                              {% elif group.name == 'student' %}
                                  <input type="text" name="lastname" value="{{request.user.student.lastname}}" class="form-control" required="" id="id_lastname">
                              {% endif %}
                            {% endfor %}

                        </p>
                        <p>
                            <label for="fileInput">User email:</label>
                            <input type="email" name="user_email" value="{{request.user.email}}" class="form-control" maxlength="320">
                        </p>
                        <p>
                            <label for="id_phone">Phone:</label>
                            {% for group in request.user.groups.all %}
                              {% if group.name == 'teacher' %}
                                 <input type="text" name="phone" value="{{request.user.teacher.phone}}" class="form-control" required="" id="id_phone">
                              {% elif group.name == 'student' %}
                                  <input type="text" name="phone" value="{{request.user.student.phone}}" class="form-control" required="" id="id_phone">
                              {% endif %}
                            {% endfor %}


                        </p>
                        <p>
                            <label for="fileInput">Current profile picture:</label><span class="text-warning fw-medium" style="font-size:12px;"> {{ form.profile_pic.value }}</span>
                            <input type="file" name="profile_pic" id="fileInput" class="form-control mb-0" accept="image/*">

                        </p>
            			<input class="btn btn-warning text-white" type="submit" name="Update Information">
				    </form>

                    <div id="profile-pic-preview"></div>
                        {% if 'success' in message.tags %}
                            <div class="alert alert-success" role="alert">
                             {{message}}
                            </div>
                        {% elif 'info' in message.tags %}
                            <div class="alert alert-info" role="alert">
                             {{message}}
                            </div>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
