{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quiz Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      .carousel-control-next-icon, .carousel-control-prev-icon {
        background-color: #e7cb00 !important;
      }

      .rec {
        border-bottom: 5px solid #e7cb00;
        padding-left: 20px;
        width: 50px;
        display:block;
      }

      .carousel-caption {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
      {% block landing %}

      {% endblock %}

<!-- Modal -->
<div class="modal fade" id="modalUserType" tabindex="-1" aria-labelledby="modalUserType" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-md border-0">
    <div class="modal-content text-center">
      <div class="modal-header d-flex justify-content-center border-0">
        <h1 class="modal-title fs-5" id="exampleModalLabel">You are a</h1>
      </div>
      <div class="modal-body border-0">
        <div class="btn-group" role="group" aria-label="user type group">
          <input type="radio" class="btn-check " name="btnradio" id="btnradio1" autocomplete="off">
          <label class="btn btn-outline-warning me-4" for="btnradio1">
            <img src="{% static 'images/teacher.png' %}"  height="200" alt="logo">
          </label>

          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
          <label class="btn btn-outline-warning ms-3" for="btnradio2">
            <img src="{% static 'images/student.png' %}"  height="200" alt="logo">
          </label>
        </div>
      </div>
      <div class="modal-footer flex-center justify-content-center border-0">
        <button type="button" id="continueBtn" class="btn btn-primary">Continue</button>
      </div>
    </div>
  </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<script>
  document.getElementById('continueBtn').addEventListener('click', function() {
   var selectedOption = document.querySelector('input[name="btnradio"]:checked');

   if (selectedOption.id === 'btnradio1') {
      window.location.href = "/registerTeacher";
   } else if (selectedOption.id === 'btnradio2') {
      window.location.href = "/registerStudent";
   }
  });

</script>

  </body>
</html>
