{% extends 'accounts/main.html' %}

{% block content %}


<br/>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homeTeacher' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'classPage' %}">Classes</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Class</li>
  </ol>
</nav>
<div class="container w-50 h-100">
  <h3>Create a class</h3>
  <hr>
  <form method="post">
    {% csrf_token %}
    <div class="form-floating mb-3">
      <input type="text" name="className"  class="form-control" id="floatingInput1" placeholder="Class Name" required>
      <label for="floatingInput1">Class Name</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="subject"  class="form-control" id="floatingInput2" placeholder="Subject" required>
      <label for="floatingInput2">Subject</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="section"  class="form-control" id="floatingInput3" placeholder="Section" required>
      <label for="floatingInput3">Section</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" name="enrollKey"  class="form-control" id="floatingInput4" placeholder="Enrollment Key" required value="{{ random_string }}">
      <label for="floatingInput4">Enrollment Key</label>
    </div>
    <a href="{% url 'classPage' %}" class="btn btn-secondary text-white">Cancel</a>
    <button type="submit" class="btn btn-warning text-white">Create</button>
  </form>

  {{msg}}
</div>


{% endblock %}
