{% extends 'accounts/main.html' %}

{% block content %}

<br/>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'homeTeacher' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="{% url 'classPage' %}">Classes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'classInfo' classData.classID %}">{{classData.className}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'topicInfo' topicData.topicID %}">{{topicData.topicName}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Quiz Info</li>
  </ol>
</nav>
 <div class="row d-flex justify-content-between align-items-center">
    <div class="col-auto d-flex justify-content-center align-items-center">
        <h2 style="display: inline;">
          {{ quizData.quizName  }} - {{ topicData.topicName  }}</h2>

      <a style="display: inline;" href="" class="ms-4 d-flex align-items-center justify-content-center ">
         <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512">
              <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"/>
          </svg>
      </a>
    </div>
 </div>
<hr>
<button type="button" class="btn btn-warning btn-sm text-white" data-bs-toggle="modal" data-bs-target="#topicQuiz">
  Add a question
</button>

{{msg}}

<div class="row mt-4">
{% if results %}
    {% for row in results %}
        <div class="col-sm-12">
            <div class="card  mb-2">
              <div class="card-body">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-auto flex-wrap d-flex">
                     <div class="mb-2 me-2 d-block bg-warning text-white rounded-circle w-4" style="width: 30px !important; height: 30px!important; text-align: center; line-height: 30px; vertical-align: middle;">
                    {{forloop.counter}}</div> <h5 class="d-block" style="padding-top: 3px; text-align: center;vertical-align: middle;">{{row.1}}</h5>
                  </div>
                  <div class="col-auto">
                      <a href="{% url 'updateQuestion' row.0 %}" class="btn btn-warning btn-sm btn-block text-white"><i class="fa fa-edit me-2"></i>Edit Question</a>
                      <a href="{% url 'deleteQuestion' row.0 %}" class="btn btn-danger btn-sm btn-block text-white"><i class="fa fa-edit me-2"></i>Delete Question</a>

                  </div>
                 </div>

            </div>
          </div>
        </div>
    {% endfor %}

{% else %}
    <tr>
        <td colspan="4">No results found.</td>
    </tr>
{% endif %}
</div>

{% for message in messages %}
        {% if 'success' in message.tags %}
            <div class="alert alert-success" role="alert">
             {{message}}
            </div>
        {% elif 'info' in message.tags %}
            <div class="alert alert-info" role="alert">
             {{message}}
            </div>
        {% endif %}
    {% endfor %}



<!-- Modal -->
<div class="modal fade" id="topicQuiz" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <form method="post">
            {% csrf_token %}
          <div class="modal-body">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Add a question</h1>
              <br>
                <div class="form-floating mb-3">
                  <input type="text" name="question" class="form-control" id="floatingInput1" placeholder="Topic Name" required>
                  <label for="floatingInput1">Quiz Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="description"  class="form-control" id="floatingInput2" placeholder="Description">
                  <label for="floatingInput2">Description</label>
                </div>
                <h5>Choices</h5>
                <div class="form-floating mb-3">
                  <input type="text" name="cA"  class="form-control" id="floatingInput3" placeholder="Choice A">
                  <label for="floatingInput3">Choice A</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cB"  class="form-control" id="floatingInput4" placeholder="Choice B">
                  <label for="floatingInput4">Choice B</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cC"  class="form-control" id="floatingInput5" placeholder="Choice C">
                  <label for="floatingInput5">Choice C</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cD"  class="form-control" id="floatingInput6" placeholder="Choice D">
                  <label for="floatingInput6">Choice D</label>
                </div>
                <div class="form-floating w-50">
                  <select name="answer" class="form-select" id="floatingSelect" >
                    <option selected value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <label for="floatingSelect">Choose the correct answer</label>
                </div>
              <button type="submit" class="btn btn-warning text-white mt-2">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>



<!-- Update Modal -->
<div class="modal fade" id="updateQuestion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
        <form method="post">
            {% csrf_token %}
          <div class="modal-body">
              <h1 class="modal-title fs-5" id="modalUpdateQuestion">Update question</h1>
              <br>
                <div class="form-floating mb-3">
                  <input type="text" name="question" class="form-control" id="update1" placeholder="Topic Name" required value="{{item.qName}}">
                  <label for="update1">Quiz Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="description"  class="form-control" id="update2" placeholder="Description">
                  <label for="update2">Description</label>
                </div>
                <h5>Choices</h5>
                <div class="form-floating mb-3">
                  <input type="text" name="cA"  class="form-control" id="update3" placeholder="Choice A">
                  <label for="update3">Choice A</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cB"  class="form-control" id="update4" placeholder="Choice B">
                  <label for="update4">Choice B</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cC"  class="form-control" id="update5" placeholder="Choice C">
                  <label for="update5">Choice C</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" name="cD"  class="form-control" id="update6" placeholder="Choice D">
                  <label for="update6">Choice D</label>
                </div>
                <div class="form-floating w-50">
                  <select name="answer" class="form-select" id="update7" >
                    <option selected value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                  </select>
                  <label for="update7">Choose the correct answer</label>
                </div>
              <button type="submit" class="btn btn-warning text-white mt-2">Save</button>
          </div>
        </form>
    </div>
  </div>
</div>
{% endblock %}
