{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<br/>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'studentPage' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Enroll to a class</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
      <div class="col-12 text-center">
          {% for row in result %}
         <img class="profile-pic" src="{% static 'images/'|add:row.2 %}" alt="Profile picture for {{ row.4 }}" style="height: 200px; border-radius: 100px; border: 1px solid #c1c1c1">
          <br><h4 class="mt-4 mb-0">{{ row.5 }} {{ row.6 }}</h4>
          <p>Instructor</p>
        {% endfor %}
      </div>
    <div class="col-12 text-center align-center">
        <h2>{{ classData.className  }}</h2>
    <p>{{ classData.subject }}</p>
    <p>  <i>Section: {{ classData.section }}</i> </p>

      <p class="text-body-secondary mt-5">Type in the enrollment key to enroll into this class</p>
        <form action="" method="POST">
            {% csrf_token %}
        <div class="d-flex justify-content-center">
            <input class="d-block form-control form-control-lg w-25" type="text" placeholder="Enrollment Key" name="enrollkey" required >

        </div>
        <input class="btn btn-warning text-white mt-3" type="submit" value="Enroll">
        </form>
    </div>
    {% for message in messages %}
            {% if 'success' in message.tags %}
                <div class="alert alert-success" role="alert">
                 {{message}}
                </div>
            {% elif 'info' in message.tags %}
                <div class="alert alert-info" role="alert">
                 {{message}}
                </div>
            {% elif 'error' in message.tags %}
                <div class="alert alert-danger" role="alert">
                 {{message}}
                </div>
            {% endif %}
        {% endfor %}
  </div>



</div>



{% endblock %}
